{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <h3>The website is created and maintained by <a href="https://github.com/odorT/">odorT</a></h3>
    <h4>If you have any concern about the website, open up an <a href="https://github.com/odorT/iBuy/issues">issue</a> </h4>

    <div>
        <div style="width: 640px; height: 480px; margin: 10px; position: relative;"><iframe allowfullscreen frameborder="0" style="width:640px; height:480px" src="https://lucid.app/documents/embeddedchart/4e4fe20c-ad7c-487f-b8c1-cb6821f0db7e" id="U86Cs5tIB8LZ"></iframe></div>
    </div>
{% endblock content %}