{% extends "layout.html" %}
{% block content %}
    <h1>Home Page</h1>
    <h2>This page is in development stage</h2>
{% endblock content %}
{% block sidebar %}
    <div class="col-md-4">
        <div class="content-section">
            <h3>News</h3>
            <p class='text-muted'>The list of supported e-commerce websites.</p>
            <div><a href='https://www.amazon.com/' for="">amazon.com</a></div>
            <div><a href="https://www.aliexpress.com/" for="">aliexpress.com</a></div>
            <div><a href="https://tap.az/" for="">tap.az</a></div>
        </div>
    </div>
{% endblock sidebar %}