{% extends 'layout.html' %}
{% block content %}
    <div class="content-section-search">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-primary mb-sm-2 text-center">Try to search something</legend>
                <div class="form-group">
                    {{ form.item(class="form-control form-control-lg ", placeholder="e.g. playstation 5") }}
                </div>

                <div class="row">
                    <div class="form-group col col-md-auto">
                        <label>Minimum price</label>
                        {{ form.min_price(class="form-control", placeholder="e.g. 12") }}
                    </div>

                    <div class="form-group col col-md-auto">
                        <label>Maximum price</label>
                        {{ form.max_price(class="form-control", placeholder="e.g. 500") }}
                    </div>
                </div>

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <div>
        <small class='float-none text-body'>Found items: {{ total }}</small>
    </div>
    <div class="content-section">
        {% for product in products_api %}
            <article class="media content-section">
                <div class="media-body">
                    <div>
                        <h4><a class="article-title" href={{ product.get('data').get('url') }}>{{ product.get('data').get('title') }}</a></h4>
                        <small class="float-none text-muted">from {{ product.get('data').get('short_url') }}</small>
                    </div>
                    <div>
                        <h5 class="float-left font-weight-bold price-title">Price: {{ product.get('data').get('price') }}</h5>
                        <h5 class="float-right rating-title">Rating: {{ product.get('data').get('rating') }}</h5>
                    </div>
                </div>
            </article>
        {% else %}
            <div>No such item</div>
        {% endfor %}
    </div>
{% endblock content %}

{% block sidebar %}
    <div class="col-md-4">
        <div class="content-section">
            <h3>News</h3>
            <p class='text-muted'>The list of supported e-commerce websites.</p>
            <div><a href='https://www.amazon.com/' for="">amazon.com</a></div>
            <div><a href="https://www.aliexpress.com/" for="">aliexpress.com</a></div>
            <div><a href="https://tap.az/" for="">tap.az</a></div>
        </div>
    </div>
{% endblock sidebar %}