{% extends 'layout.html' %}
{% block content %}
    <div class="content-section-search">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-primary mb-sm-2 text-center">Try to search something</legend>
                <div class="form-group">
                    {{ form.item(class="form-control form-control-lg ", placeholder="e.g. playstation 5") }}
                </div>

                <div class="row">
                    <div class="form-group col col-md-auto">
                        <label>Minimum price</label>
                        {{ form.min_price(class="form-control", placeholder="e.g. 12") }}
                    </div>

                    <div class="form-group col col-md-auto">
                        <label>Maximum price</label>
                        {{ form.max_price(class="form-control", placeholder="e.g. 500") }}
                    </div>
                </div>

            </fieldset>
            <div>
                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                    <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" name="tapaz">
                    <label for="btncheck1">tap.az</label><br>

                    <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off" name="aliexpress">
                    <label for="btncheck1">aliexpress.com</label><br>

                    <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off" name="amazon">
                    <label for="btncheck1">amazon.com</label><br>
                </div>
            </div>
            <div class="row">
                <div class="form-group col col-md-auto">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
                <div class="dropdown">
                    <label for="sort">Sort by price:</label>
                    <select name="sort" id="sort" class="dropdown">
                        <option name="default" value="default">Default</option>
                        <option name="ascending" value="ascending">Ascending</option>
                        <option name="descending" value="descending">Descending</option>
                    </select>
                </div>
                <div>
                    <label for="currency">Currency:</label>
                    <select name="currency" id="currency" class="dropdown">
                        <option name="default" value="default">Default</option>
                        <option name="azn" value="azn">AZN</option>
                        <option name="usd" value="usd">USD</option>
                        <option name="rub" value="rub">RUB</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div>
        <label class='float-none text-body'>
            {% if products_api != {} %}
                Found {{ products_api['details']['total_num'] }} items in {{ products_api['details']['exec_time'] }} seconds
            {% else %}
                Try to search something
            {% endif %}
        </label>
    </div>
    <div class="content-section">
        {% for product in products_api['data'] %}
            <article class="media content-section">
                <div class="media-body">
                    <div>
                        <h4><a class="article-title" href={{ product['url'] }}>{{ product['title'] }}</a></h4>
                        <small class="float-none text-muted">from {{ product['short_url'] }}</small>
                    </div>
                    <div>
                        <h5 class="float-left font-weight-bold price-title">Price: {{ product['price_val'] }} {{ product['price_curr'] }}</h5>
                        <h5 class="float-right rating-title">Rating: {{ product['rating'] }}</h5>
                    </div>
                </div>
            </article>
        {% else %}
            <div>No such item</div>
        {% endfor %}
    </div>
{% endblock content %}

{% block sidebar %}
    <div class="col-md-4">
        <div class="content-section">
            <h3>News</h3>
            <p class='text-muted'>The list of supported e-commerce websites.</p>
            <div><a href='https://www.amazon.com/'>amazon.com</a></div>
            <div><a href="https://www.aliexpress.com/">aliexpress.com</a></div>
            <div><a href="https://tap.az/">tap.az</a></div>
        </div>
    </div>
{% endblock sidebar %}